// Tags
//
// Tags displayed in articles.
//
// Markup: tags.twig
//
// Style guide: Components.tags

.tags {
}

.tags__items {
  margin: 0 0 -0.625rem 0;
  padding: 0;
}

.tags__item {
  display: inline-block;
  float: none;
  list-style: none;
  margin-bottom: 0.625rem;
  margin-right: 0.5rem;
  padding: 0;
}
