{#
/**
 * @file
 * Displays the tags.
 *
 * Available variables:
 * - tags: tags of the article.
 */
#}

<div class="tags">
  <ul class="tags__items">
    {% for tag in tags %}
      <li class="tags__item">{% include '@mytheme/tag/tag.twig' with {url: tag.url, name: tag.name} only %}</li>
    {% endfor %}
  </ul>
</div>
